<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
      {% if node.title != null %}
      {% if node.layout == "page" %}
      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title
        }}</a>
      {% endif %}
      {% endif %}
      {% endfor %}

      <!-- Projects Section -->
      <span class="sidebar-nav-header">Projects</span>
      {% assign project_posts = site.posts | where: "categories", "project" %}
      {% for project in project_posts %}
      <a class="sidebar-nav-item project-item{% if page.url == project.url %} active{% endif %}"
        href="{{ project.url }}">{{ project.title }}</a>
      {% endfor %}

      <br>
      <span class="sidebar-nav-header">Links</span>
      <a class="sidebar-nav-item" href="{{site.linkedin.url}}">LinkedIn</a>
      <a class="sidebar-nav-item" href="{{site.github.url}}">Github</a>

      <br>
      <span class="sidebar-nav-header">This Website</span>
      <a class="sidebar-nav-item" href="resume.pdf">Resume</a>
      <a class="sidebar-nav-item" href="{{site.github.repo}}">Source Code</a>

      <br>
      <p class="about">{{ site.summary }}</p>

    </nav>
  </div>
</div>
